<br><br>
<center class="blue_glow">
  <h1>Welcome to Weather Vine</h1>
</center>

<center class="app-info">
<div class="card" style="width: 18rem;">
  <img src="https://www.pinclipart.com/picdir/big/167-1677050_grapevine-png-transparent-picture-transparent-grape-vine-clipart.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Learn all about Weather Vine here</h5>
    <p class="card-text">Weather Vine is an educational app for consumers to connect more deeply with the wine they enjoy. Explore wines from a region and see how the climate has influenced the very wine one drinks!</p>
  </div>

  <div class="card-body">
    <%= button_to 'Register/Login with Google', "/auth/google_oauth2", class: "btn btn-outline-success"%>
  </div>
</div>
</center>
