<div class=“text-center”>
  <h1>Welcome to Weather Vine!</h1>
</div>

<div class="nav-bar">
    <%= button_to 'Register/Login with Google', auth_google_oauth2_callback_path%>
</div>

<section class="app-info">
  <section class=“container p-3 my-3 border”>
    <h3 class=“text-center”>Learn all about Weather Vine here:</h3>
    <p class=“text-center”>Weather Vine is an educational app for consumers to connect more deeply with the wine they enjoy. Explore wines from a region and see how the climate has influenced the very wine one drinks!</p>
  </section>
</section>
